<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="navigation-bar">
            <div class="logo"><img src="./logo mirrored.png" alt="">
            </div>
            <ul class="nav-menus">
                <li class="nav-menu">Blog</li>
                <li class="nav-menu">How</li>
                <li class="nav-menu">Word</li>
                <li class="nav-menu">Video</li>
                <li class="nav-menu">About</li>
            </ul>
        </nav>
    </header>
    <section class="first-section">
        <div class="main-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg');">
        </div>
        <div class="main-page-text-and-carousel">
            <div class="top-conatainer-card main-page-text">
                <h1>Behold! <span>Live!</span> Become!</h1>
                <div class="main-page-subtitle">
                    <p>Your destination for practical living fatit growth</p>
                </div>

            </div>
            <div class="top-conatainer-card carousel" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg'); background-size: cover; background-repeat: no-repeat;">
                <div class="top-card-carouel-text-button">
                    <div class="top-card-text">
                        <p>Building your faith | Tessy symoye 18th, Oct, 2023</p>
                    </div>
                    <button>All Posts</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <hr>
    </section>
    <section id="how-of-the-week-recent-post" class="flex-section">
        <div class="how-of-the-week">
            <div class="section-title">
                <h2>How of the week</h2>
            </div>
            <div class="large-post-card">
                <div class="post-title">
                    <h3>How to build your faith?</h3>
                </div>
                <div class="post-body">
                    4 Steps to building your Faith:Believe in God's Promises: Begin by trusting in God's promises. His word gives you strength and certainty. "For I know the plans I have for you, declares the Lord, plans for welfare and not for evil, to give you a future
                    and a hope." (Jeremiah …)
                </div>
                <div class="post-image">
                    <img src="./258939ba704527067845bcb67e9c8374.jpeg" alt="">
                </div>
                <button class="read-more">Read more</button>
            </div>
        </div>
        <div class="recent-post">
            <div class="section-title recent-section-title">
                <h2>Recent Posts</h2>
                <button class="visit-blog">Visit blog</button>
            </div>
            <div class="recent-post-container">
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg'); background-size: cover; background-repeat: no-repeat;">
                            <div class="category-date">
                                <p><span>Growth |</span> 12th Oct 2023</p>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h3>You Are Free Indeed</h3>
                            </div>
                            <div class="post-body">
                                <p>So, if the Son sets you free, you …</p>
                            </div>
                            <button class="read-more">Read more</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg'); background-size: cover; background-repeat: no-repeat;">
                            <div class="category-date">
                                <p><span>Growth |</span> 12th Oct 2023</p>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h3>You Are Free Indeed</h3>
                            </div>
                            <div class="post-body">
                                <p>So, if the Son sets you free, you …</p>
                            </div>
                            <button class="read-more">Read more</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg'); background-size: cover; background-repeat: no-repeat;">
                            <div class="category-date">
                                <p><span>Growth |</span> 12th Oct 2023</p>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h3>You Are Free Indeed</h3>
                            </div>
                            <div class="post-body">
                                <p>So, if the Son sets you free, you …</p>
                            </div>
                            <button class="read-more">Read more</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg'); background-size: cover; background-repeat: no-repeat;">
                            <div class="category-date">
                                <p><span>Growth |</span> 12th Oct 2023</p>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h3>You Are Free Indeed</h3>
                            </div>
                            <div class="post-body">
                                <p>So, if the Son sets you free, you …</p>
                            </div>
                            <button class="read-more">Read more</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="flex-section">
        <div class="how-of-the-week">
            <div class="section-title">
                <h2>Word of the week</h2>
            </div>
            <div class="large-post-card">
                <div class="post-image">
                    <img src="./258939ba704527067845bcb67e9c8374.jpeg" alt="">
                </div>
                <div class="word-of-the-week-title">
                    <h3>How to build your faith?</h3>
                </div>
                <div class="post-body">
                    4 Steps to building your Faith:Believe in God's Promises: Begin by trusting in God's promises. His word gives you strength and certainty. "For I know the plans I have for you, declares the Lord, plans for welfare and not for evil, to give you a future
                    and a hope." (Jeremiah …)
                </div>

                <button class="read-more">Read more</button>
            </div>
        </div>
        <div class="recent-post">
            <div class="section-title recent-section-title">
                <h2>Useful videos</h2>
                <button class="visit-blog">View all</button>
            </div>
            <div class="recent-post-container">
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <iframe src="https://www.youtube.com/embed/7m8w03-VYj4?si=Z0DaqYkZ1vb-BR1R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="video-title">
                        <h3>The Compulsory Spiritual Experiences of an Excelling Minister</h3>
                    </div>
                    <hr>
                </div>
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <iframe src="https://www.youtube.com/embed/7m8w03-VYj4?si=Z0DaqYkZ1vb-BR1R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="video-title">
                        <h3>The Compulsory Spiritual Experiences of an Excelling Minister</h3>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </section>
    <section class="weekly-article-section">
        <div class="section-title">
            <h2>Weekly Article</h2>
        </div>
        <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg');"></div>
        <div class="post-title">
            <h3>Increasing intensity – The cure to Inconsistency</h3>
        </div>
        <div class="post-body">
            <p>
                One of the greatest difficulties the average person encounters is how to continue on a journeythat they begin. Starting is usually the easy part, but, alas, not many people have been disposedto continue with things in the long-haul.This is why new year’s
                resolutions are a big deal. The next resolution …
            </p>
        </div>
        <button class="read-more">Read more</button>
    </section>
    <section class="more-post">
        <div class="section-title recent-section-title">
            <h2>More posts</h2>
            <button class="visit-blog">Visit blog</button>
        </div>
        <div class="more-post-container">
            <div class="more-post-card">
                <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg');"></div>
                <div class="post-title">
                    <h3>Increasing intensity – The cure to Inconsistency</h3>
                </div>
                <div class="post-tag-container">
                    <div class="post-tag">
                        <p>Spiritual Growth</p>
                    </div>
                    <div class="post-tag">
                        <p>Identity</p>
                    </div>
                    <div class="post-tag">
                        <p>Faith</p>
                    </div>
                </div>
                <div class="post-date">
                    <p>11-oct-2023</p>
                </div>
                <div class="post-body">
                    One of the greatest difficulties the average person encounters is how to continue on a journeythat they begin. Starting is usually the easy part, but,
                </div>
                <div><button class="read-more">Read more</button></div>
            </div>
            <div class="more-post-card">
                <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg');"></div>
                <div class="post-title">
                    <h3>Increasing intensity – The cure to Inconsistency</h3>
                </div>
                <div class="post-tag-container">
                    <div class="post-tag">
                        <p>Spiritual Growth</p>
                    </div>
                    <div class="post-tag">
                        <p>Identity</p>
                    </div>
                    <div class="post-tag">
                        <p>Faith</p>
                    </div>
                </div>
                <div class="post-date">
                    <p>11-oct-2023</p>
                </div>
                <div class="post-body">
                    One of the greatest difficulties the average person encounters is how to continue on a journeythat they begin. Starting is usually the easy part, but,
                </div>
                <div><button class="read-more">Read more</button></div>
            </div>
            <div class="more-post-card">
                <div class="post-image" style="background-image: url('./258939ba704527067845bcb67e9c8374.jpeg');"></div>
                <div class="post-title">
                    <h3>Increasing intensity – The cure to Inconsistency</h3>
                </div>
                <div class="post-tag-container">
                    <div class="post-tag">
                        <p>Spiritual Growth</p>
                    </div>
                    <div class="post-tag">
                        <p>Identity</p>
                    </div>
                    <div class="post-tag">
                        <p>Faith</p>
                    </div>
                </div>
                <div class="post-date">
                    <p>11-oct-2023</p>
                </div>
                <div class="post-body">
                    One of the greatest difficulties the average person encounters is how to continue on a journeythat they begin. Starting is usually the easy part, but,
                </div>
                <div><button class="read-more">Read more</button></div>
            </div>
        </div>
    </section>
</body>

</html>

</html>