<!DOCTYPE html>{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %}
<html lang="en">

<head>
    {% load wagtailmetadata_tags %} {% meta_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block extra_css %}
    <!-- <link rel="stylesheet" href="/static/css/style.css"> {% endblock %} -->
</head>

<body>
    {% block content %}

    <section id="how-of-the-week-recent-post" class="flex-section">
        <div class="how-of-the-week">
            <div class="section-title">
                <h2>How of the week</h2>
            </div>
            {% if how_of_the_week %}
            <div class="large-post-card">
                <div class="post-title">
                    <a href="{% pageurl article_of_the_week %}">
                        <h3>{{how_of_the_week.post_title|title}}</h3>
                    </a>
                </div>
                <div class="post-body">
                    {{how_of_the_week.body|richtext|striptags|truncatewords:70}}
                </div>
                <div class="post-image">
                    <img src="{{how_of_the_week.post_image.url}}" alt="">
                </div>
                <a href="{% pageurl article_of_the_week %}"><button class="read-more">Read more</button></a>
            </div>
            {% endif %}
        </div>
        <div class="recent-post">
            <div class="section-title recent-section-title">
                <h2>Recent Posts</h2>
                <a href="{{ settings.blog.ImportantPages.page_url.blog_index_page }}">
                    <button class="visit-blog">Visit blog</button>
                </a>
            </div>
            <div class="recent-post-container">
                {% if recent_blogs %} {% for blog in recent_blogs|slice:":4" %} {% if blog %}
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <div class="post-image" style="background-image: url('{{blog.post_image.url}}'); background-size: cover; background-repeat: no-repeat;">
                            <a href="{% if blog.post_category %} {% pageurl blog.post_category %} {% else %} # {% endif %}">
                                <div class="category-date">
                                    <p><span>{{blog.post_category.name}} |</span> {{blog.date_created|date:"d M Y"}}</p>
                                </div>
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <a href="{% pageurl blog %}">
                                    <h3>{{blog.post_title|title|truncatewords:4}}</h3>
                                </a>
                            </div>
                            <div class="post-body">
                                <p>{{blog.body|richtext|striptags|truncatewords:8}}</p>
                            </div>
                            <div class="author">
                                <div class="author-image">{% if blog.owner.wagtail_userprofile.avatar %}<img src="{{blog.owner.wagtail_userprofile.avatar.url}}" alt="">{% else %}
                                    <p>{{blog.owner.first_name|make_list|first}}</p>{% endif %}</div>
                                <div class="author-name">
                                    <a href="#">
                                        <p>{{blog.owner.first_name}} {{blog.owner.last_name}}</p>
                                    </a>
                                </div>
                            </div>
                            <button class="read-more">Read more</button>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endif %} {% endfor %}{% endif %}

            </div>
        </div>
    </section>

    <section class="flex-section">
        <div class="how-of-the-week">
            <div class="section-title">
                <h2>Word of the week</h2>
            </div>
            {% if word_of_the_week %}
            <div class="large-post-card">
                <div class="post-image">
                    <img src="{{word_of_the_week.post_image.url}}" alt="">
                </div>
                <div class="word-of-the-week-title">
                    <a href="{% pageurl word_of_the_week %}">
                        <h3>{{word_of_the_week.post_title|title}}</h3>
                    </a>
                </div>
                <div class="post-body">
                    {{word_of_the_week.body|richtext}}
                </div>

                <a href="{% pageurl word_of_the_week %}">
                    <button class="read-more">Read more</button>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="recent-post">
            <div class="section-title recent-section-title">
                <h2>Useful videos</h2>
                <a href="{{ settings.blog.ImportantPages.page_url.video_index_page }}">
                    <button class="visit-blog">View all</button>
                </a>
            </div>
            <div class="recent-post-container">
                {% if videos %} {% for video in videos|slice:":2" %}
                <div class="recent-post-card-container">
                    <div class="recent-post-card">
                        <iframe src="https://www.youtube.com/embed/{{video.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                    <div class="video-title">
                        <h3>{{video.video_title}}</h3>
                    </div>
                    <hr>
                </div>
                {% endfor %} {% endif %}

            </div>
        </div>
    </section>

    <section class="weekly-article-section">
        <div class="section-title">
            <h2>Weekly Article</h2>
        </div>
        {% if article_of_the_week %}
        <div class="large-post-card">
            <div class="post-image" style="background-image: url('{{article_of_the_week.post_image.url}}');"></div>
            <div class="post-title">
                <a href="{% pageurl article_of_the_week %}">
                    <h3>{{article_of_the_week.post_title|title}}</h3>
                </a>
            </div>
            <div class="post-body">
                <p>
                    {{article_of_the_week.body|richtext|striptags|truncatewords:70}}
                </p>
            </div>
            <a href="{% pageurl article_of_the_week %}">
                <button class="read-more">Read more</button>
            </a> {% endif %}
        </div>
    </section>


    <section class="more-post">
        <div class="section-title recent-section-title">
            <h2>More posts</h2>
            <button class="visit-blog">Visit blog</button>
        </div>
        <div class="more-post-container">
            {% if blogs %} {% for blog in blogs|slice:":3" %}
            <div class="more-post-card">
                <div class="post-image" style="background-image: url('{{blog.post_image.url}}');"></div>
                <div class="post-title">
                    <a href="{% pageurl blog %}">
                        <h3>{{blog.post_title|title|truncatewords:4}}</h3>
                    </a>
                </div>
                {% with tags=blog.tags.all %} {% if tags %}
                <div class="post-tag-container">
                    {% for tag in tags|slice:":2" %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                        <div class="post-tag">
                            <p>{{ tag }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %} {% endwith %}
                <div class="post-date">
                    <p>{{blog.date_created|date:"d M Y"}}</p>
                </div>
                <div class="post-body">
                    {{blog.body|richtext|striptags|truncatewords:10}}
                </div>
                <div class="author">
                    <div class="author-image">{% if blog.owner.wagtail_userprofile.avatar %}<img src="{{blog.owner.wagtail_userprofile.avatar.url}}" alt="">{% else %}
                        <p>{{blog.owner.first_name|make_list|first}}</p>{% endif %}</div>
                    <div class="author-name">
                        <a href="#">
                            <p>{{blog.owner.first_name}} {{blog.owner.last_name}}</p>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="{% pageurl blog %}">
                        <button class="read-more">Read more</button>
                    </a>
                </div>
            </div>
            {% endfor %} {% else %}
            <p>No blog available</p>
            {% endif %}
        </div>
    </section>

    {% endblock content %} {% block mission %} {% endblock mission %}
</body>

</html>