<!DOCTYPE html>{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %}
<html lang="en">

<head>
    {% load wagtailmetadata_tags %} {% meta_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="first-section">
        {% block coverimage %}
        <div class="blog-carousel" dir="ltr">
            {% for blog in blogs %}{% with blog=blog.specific %}
            <div class="main-image blog-section" style="{% block landingbackground %}{% if blog.post_image %} background: url('{{blog.post_image.url}}') {% else %}background: url('/static/images/b70f705023881cc5826de0760d0a0ff5.jpeg'){% endif %}; background-size: cover; background-position: 0;{% endblock %}">
                <div class="bloglist-post-title">
                    <h1>{{blog.headline|title|safe}}</h1>
                </div>
                <div class="cover-background"></div>
            </div>
            {% endwith %} {% endfor %}
        </div>

        {% endblock %} {% block pagecaption %}{% endblock %} {% block searchcarousel %}{% endblock %}

        <br>
        <br>
        <br>
        <br>
        <hr>
    </section>
    {% block content %}
    <section class="how-section">
        <div class="how-card-container">
            {% if blogs %} {% for blog in blogs %}
            <div class="post-card-vertical">
                {% comment %} {% image blog.post_image fill-300x230 as post_image %} {% endcomment %}
                <div class="post-image" style="background-image: url({{blog.post_image.url}}); background-size: cover; background-repeat: no-repeat;">

                    <a href="{% if blog.post_cateory %}{% pageurl blog.post_category %} {% else %}#{% endif %}">
                        <div class="post-category">
                            <p>{{blog.post_category.name|title}}</p>
                        </div>
                    </a>
                </div>
                <div class="post-content">
                    <div class="author">
                        {% comment %}
                        <div class="author-image"><img src="{{page.owner.wagtail_userprofile.avatar.url}}" alt=""></div> {% endcomment %}
                        <div class="author-name">
                            <a href="{{blog.post_author.get_absolute_url}}">
                                <p>{{page.owner.first_name|title}} {{page.owner.last_name|title}}</p>
                            </a>
                        </div>
                        <div class="post-date">
                            <p>{{blog.date_created|date:"d M Y"}}</p>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="{% pageurl blog %}">
                            <h2>{{blog.headline|title|safe}}</h2>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div>
                <p>No search available</p>
            </div>{% endif %}
        </div>
    </section>
    {% endblock content %} {% block mission %} {% endblock mission %} {% block request %} {% endblock request %}
</body>

</html>