{% load static wagtailcore_tags %} {% load static %} {% load subscribe_form %} {% get_subscribe_form as form %}
<style>
    .subscribe-card {
        margin-left: auto;
        margin-right: auto;
    }
    
    .subscribe-card input {
        border: none;
        padding: 10px 20px;
        outline: none;
        background: #d4d2d2;
    }
    
    .subscribe-card .subscribe-button {
        background: #FFC700;
        cursor: pointer;
    }
</style>
<div class="subscribe-card">
    <h2>Subscribe to our Newsletter</h2>
    <form action="{% pageurl form.page %}" method="post">
        {% csrf_token %}
        <div class="field-wrapper">
            <input type="email" name="email" id="id_email" placeholder="Enter your email">
            <input class="subscribe-button" type="submit" value="Subscribe">
        </div>

    </form>
</div>