<!DOCTYPE html>{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %} {% load humanize %} {# You can use the 'humanize' template filter for date formatting #}
<html lang="en">

<head>
    {% load wagtailmetadata_tags %} {% meta_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="first-section">
        {% block coverimage %}
        <div class="blog-carousel" dir="ltr">
            <div class="main-image blog-section" style="{% block landingbackground %}{% if page.banner %} background: url('{{page.banner.url}}') {% else %}background: url('/static/images/b70f705023881cc5826de0760d0a0ff5.jpeg'){% endif %}; background-size: cover; background-position: 0;{% endblock %}">
                <!-- <div class="bloglist-author-name">
                    <p>{{blog.owner.first_name}} {{blog.owner.last_name}} | {{blog.date_created|date:"d M Y"}} </p>
                </div> -->


                <div class="hero-section-text">
                    <div class="bloglist-post-title">
                        <h1>Word</h1>
                    </div>
                    <div class="bloglist-post-body">
                        <p>{{page.intro|richtext|striptags|truncatewords:100}}</p>
                    </div>
                </div>
                <!-- <div class="cover-background"></div> -->
            </div>
        </div>

        {% endblock %} {% block pagecaption %}{% endblock %} {% block searchcarousel %}{% endblock %}

    </section>
    {% block content %}
    <section class="weekly-article-section">
        <div class="section-title">

            <h2>Word of the Week</h2>
        </div>
        {% if word_of_the_week %}
        <div class="post-image">
            <img src="{{word_of_the_week.post_image.url}}" alt=""></div>
        {% endif %}
    </section>
    <section class="how-section">
        <div class="section-title recent-section-title">
            <h2>More Word</h2>
        </div>
        {% regroup posts by date_created.year as year_list %} {% for year in year_list %}
        <div class="how-date">
            <h2>{{ year.grouper|date:"Y" }} {# Display the year #}</h2>
        </div>
        {% regroup year.list by date_created.month as month_list %} {% for month in month_list %}
        <div class="how-container">
            <div class="how-month">
                <h3>{{ month.grouper|date:"F" }} {# Display the month as full name #}</h3>
            </div>
            <div class="word-container">
                {% for obj in month.list %} {% with obj=obj.specific %}
                <a href="{% pageurl obj %}">
                    <div class="word-card">
                        <img src="{{obj.post_image.url}}" alt="">
                    </div>
                </a>
                {% endwith %} {% endfor %}
            </div>
        </div>
        {# Only show pagination if there is more than one page to click through #} {% if posts.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if posts.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% endif %} {% for page_num in posts.paginator.page_range %}
                        <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                            <a href="?page={{ page_num }}" class="page-link">
                        {{ page_num }}
                      </a>
                        </li>
                        {% endfor %} {% if posts.has_next %}
                        <li class="page-item">
                            <a href="?page={{ posts.next_page_number }}" class="page-link">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %} {% endfor %} {% endfor %}
    </section>
    {% endblock content %} {% block mission %} {% endblock mission %} {% block request %} {% endblock request %}
</body>

</html>