<!DOCTYPE html>{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %} {% load humanize %} {# You can use the 'humanize' template filter for date formatting #}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% image page.post_image fill-300x230 as post_image %}
    <div class="first-screen" style="{% block landingbackground %}{% if post_image %} background: url('{{post_image.url}}') {% else %}background: url('/static/images/simon-berger-twukN12EN7c-unsplash.jpg'){% endif %}; background-size: cover; background-position: 0;{% endblock %}">
    {% block pagecaption %}
        <div class="first-section-content">
            <div class="first-text ">
                <p>{{page.title|title}}</p>
            </div>
        </div>
    {% endblock %}
    {% block cta %}
    {% endblock %}
    </div>
    {% block content %}
    <section class="how-section">
        {% regroup page.get_children by date_created.year as year_list %} {% for year in year_list %}
        <div class="how-date">
            <h2>{{ year.grouper|date:"Y" }} {# Display the year #}</h2>
        </div>
        {% regroup year.list by date_created.month as month_list %} {% for month in month_list %}
        <div class="how-container">
            <div class="how-month">
                <h3>{{ month.grouper|date:"F" }} {# Display the month as full name #}</h3>
            </div>
            <div class="how-card-container">
                {% for obj in month.list %} {% with obj=obj.specific %}
                <div class="post-card-vertical">
                    {% image obj.post_image fill-300x230 as post_image %}
                    <div class="post-image" style="background-image: url({{post_image.url}}); background-size: cover; background-repeat: no-repeat;">
                        <a href="{% pageurl obj.word_category %}">
                            <div class="post-category">
                                <p>{{obj.word_category}}</p>
                            </div>
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <div class="author-image"><img src="{{page.owner.wagtail_userprofile.avatar.url}}" alt=""></div>
                            <div class="author-name">
                                <a href="#">
                                    <p>{{page.owner.first_name}} {{page.owner.last_name}}</p>
                                </a>
                            </div>
                            <div class="post-date">
                                <p>{{obj.date_created}}</p>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="{% pageurl obj %}">
                                <h2>{{obj.post_title}}</h2>
                            </a>
                        </div>
                    </div>
                </div>
                {% endwith %} {% endfor %}
            </div>
        </div>
        {% endfor %} {% endfor %}
    </section>
    {% endblock content %}
</body>

</html>