<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %}

<body>
    <section class="first-section">
        {% block coverimage %}
        <div>
            <div class="main-image blog-section" style="{% block landingbackground %}{% if page.post_image %} background: url('{{page.post_image.url}}') {% else %}background: url('/static/images/b70f705023881cc5826de0760d0a0ff5.jpeg'){% endif %}; background-size: cover; background-position: 0;{% endblock %}">
                <div class="bloglist-post-title">
                    <h1>{{page.title|title|truncatewords:3}}</h1>
                </div>
                <div class="cover-background"></div>
            </div>
        </div>
        {% endblock %} {% block pagecaption %}{% endblock %} {% block searchcarousel %}{% endblock %}

        <br>
        <br>
        <br>
        <br>
        <hr>
    </section>
    {% block content %}
    <main class="about">
        <style>
            .conference-report-summary img {
                float: right;
                margin: 15px;
                width: 200px;
                height: 300px;
            }
            
            .conference-report-summary p {
                text-align: left;
            }
        </style>
        <div class="post-detail-card">
            <span class="Post-title"><h1>{{page.resource_title|title}}</h1></span> <br>
            <div class="conference-report-summary">
                <img src="{{page.resource_cover_image.url}}" alt="page.resource_title|title"> {{page.resource_summary|richtext}}
            </div>
            <br>
            <div class="download-report">
                <button class="pay-btn read-more" onclick="displayDownloadForm()">Download</button>
            </div>
            <br>
            <div class="abstract-form download-report-form-container">
                <span>Fill the form below to get the resources in your inbox.</span>
                <form action="{% pageurl page %}" method="post">
                    {% csrf_token %}
                    <div class="form-card registration-form-1 prayer-request-form">
                        <div class="form-card-wordwrap">
                            <div class="form-field">
                                {{form.full_name.label_tag}}
                                <h6 class="text-danger">{{ form.full_name.errors }}</h6>
                                {{form.full_name}}
                            </div>
                            <div class="form-field">
                                {{form.email.label_tag}}
                                <h6 class="text-danger">{{ form.email.errors }}</h6>
                                {{form.email}}
                            </div>
                        </div>

                    </div>
                    <input class="pay-btn read-more" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </main>
    <script>
        downloadFormCont = document.querySelector('.abstract-form');
        downloadButton = document.querySelector('.download-report .pay-btn');

        function displayDownloadForm() {
            downloadFormCont.classList.remove('download-report-form-container');
        }
    </script>
    {% endblock %} {% block mission %} {% endblock mission %} {% block request %} {% endblock request %}
</body>